h1{
    font-family: "helvetiac neue",Helvetica,Arial,sans-serif;
    font-size: 8rem;
    font-weight: normal;
    font-variant: small-caps;
    line-height: 2;

    border: 1px dashed #67ff3b;
}