    p{
        border: 1px solid #bc9aff;
    }

    div{
        border: 2px solid #67ff3b;
        width: 500px;
        margin: 20px auto;
    }

    .pad-me{
        padding: 50px;
    }

    .bb{
        box-sizing: border-box;
    }