    div{
        width: 400px;
        height: 200px;
        border: 40px dashed red;
        margin: 20px auto;
    }

    .d{
        margin:20px 30px ;
        box-sizing: border-box;
    }
    .d2{
        box-sizing: border-box;
    }
