    div{
        width: 400px;
        height: 400px;
        border: 1px solid red;
                            /*بردر رادیوس اطرام قاب را نرم تر می کند*/
        border-radius: 25%;
        background-image: url("../001_img/102401.jpg");
        /*این دو عمل وند عکس را ندازه ی قاب نشان داده و عملوند دوم از تکرتر شدن عکس جلو گیری می کند*/
        background-size: cover;
        background-repeat: no-repeat;
    }

    img{
        border: 10px groove red;
        border-radius: 25%;
    }
    .woman1{
        border: 10px groove red;
    }
    .woman2{
        border: 10px groove red;
    }